@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .nunito_sans {
    font-family: var(--font-nunito-sans);
  }
  
  :root {
    --font-nunito-sans: 'Nunito Sans', sans-serif;
  }
  
  body {
    font-family: 'Poppins', sans-serif, var(--font-nunito-sans);
  }